<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <form id="tableForm" action="/register" method="get">
      <select data-style="btn-info" name="collegepicker">
        <optgroup label="Select Table">
          <option name="" value="0">Select table</option>
          <option name="table1" value="IIT KANPUR">IIT KANPUR</option>
          <option name="table2" value="NSIT">NSIT</option>
          <option name="table3" value="IIIT DELHI">IIIT DELHI</option>
        </optgroup>
      </select>
      <br><br>
      <input type="checkbox" id="sport1" name="sport1" value="Cricket"> Cricket
      <input type="text" placeholder="Enter Captain's Name" name="capname">
      <input type="email" placeholder="Enter Captain's Email" name="email">
      <input type="text" placeholder="Enter Captain's Mobile Number" name="mobileno">
      <br>
      <input type="submit" />
    </form>
  </body>
</html>
